
.homepage {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 1024px;
    position: relative;
    overflow: hidden;
    margin: 0;
    zoom: 90%;
}

a {
    text-decoration: none
}

div {
    -webkit-text-size-adjust: none
}

.glasto {
    background-color: rgba(255, 255, 255, 0.0);
    top: 1px;
    height: 1023px;
    width: 1439px;
    position: absolute;
    margin: 0;
    left: -2px;
    opacity: .5
}

.rectangle {
    background-color: rgba(0, 0, 0, 1.0);
    top: 0;
    height: 1024px;
    width: 1440px;
    position: absolute;
    margin: 0;
    left: 0;
    opacity: .62
}

.whitelogo {
    background-color: rgba(255, 255, 255, 0.0);
    top: 300px;
    height: 225px;
    width: 501px;
    position: absolute;
    margin: 0;
    left: 465px
}

.rectangle2 {
    background-color: rgba(255, 255, 255, 1.0);
    top: 660px;
    height: 80px;
    width: 352px;
    position: absolute;
    margin: 0;
    left: 538px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(150, 150, 150, 1.0);
    opacity: .27
}

 .enter {
    background-color: rgba(255, 255, 255, 0.0);
    top: 677px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 683px;
    font-family: 'GillSans', Helvetica, Arial, serif;
    font-size: 28.0px;
    color: rgba(255, 254, 254, 1.0);
    text-align: justify;
    letter-spacing: -.48px;
    line-height: 55.0px
}

.anima-animate-appear {
    opacity: 0;
    display: block;
    -webkit-animation: anima-reveal .3s ease-in-out 1 normal forwards;
    -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
    -o-animation: anima-reveal .3s ease-in-out 1 normal forwards;
    animation: anima-reveal .3s ease-in-out 1 normal forwards
}

.anima-animate-disappear {
    opacity: 1;
    display: block;
    -webkit-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
    -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
    -o-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
    animation: anima-reveal .3s ease-in-out 1 reverse forwards
}

.anima-animate-nodelay {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0
}

@-webkit-keyframes anima-reveal {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes anima-reveal {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes anima-reveal {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes anima-reveal {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}